<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="control">
      <%= link_to 'Sign In', new_session_path, class: "button is-primary" %>
    </p>
    <p class="control">
      <%= link_to 'Sign Up', new_user_path, class: "button is-primary" %>
    </p>
    <% if (session[:name]) %>
      <p class="control">
        <%= link_to 'Log Out', session_path(session[:name]), method: :delete %>
      </p>
    <% end %>
    <%= yield %>
  </body>
</html>
