<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice]%>
      <div class = 'notification is-success global-notification'>
        <p class = 'notice'><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert]%>
      <div class = 'notification is-danger global-notification'>
        <p class = 'alert'><%= alert %></p>
      </div>
    <% end %>
    

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <p class="navbar-item">
          <h1 class='title is-3 navbar-item'><%= link_to 'Private Events', root_path %></h1>
        </p>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <% if sign_in? %>
            <%= link_to 'Add an event', new_event_path, class: 'button is-primary' %>
          <% end %>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <% if sign_in? %> 
              <p class="control">
                Welcome <%= link_to current_user.name, current_user %>
              </p>
              <p class="control">
                <%= link_to 'Log Out', session_path(session[:name]), method: :delete, class: "button is-primary" %>
              </p>
            <% else %>
              <p class="control">
                <%= link_to 'Sign In', new_session_path, class: "button is-primary" %>
              </p>
              <p class="control">
                <%= link_to 'Sign Up', new_user_path, class: "button is-primary" %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

    

    <%= yield %>
  </body>
</html>
